*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #333;
}

h2{
    font-size: 50px;
    text-align: left;
    margin: 10px;
    padding: 5px;
}

.buscador{

    position: absolute;
    top: 0%;
    left: 17%;
    transform: translate(50%, 50%);   
}

input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444 ;
    border: 3px solid #a50559;
    background: white url("../img/buscar\ \(1\).png") no-repeat 9px center;
    width: 60px;
    transition: all 5s;
}

input.src:hover{
    width: 180px;
    background-color: white;
    border-color: black;
    box-shadow: 0 0 5px hotpink;
}


img{
    width: 100%;
    height: 100%;   
    
}

.grid-section{
    display: grid;
    width: 75%;
    margin: 50px auto;
    grid-template-rows: repeat(3, 190px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid-section .grid {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}

.grid-img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.grid:nth-child(1){
    grid-row: 1/3;
}

.grid:nth-child(3){
    grid-column: 3/5;
}

.grid:nth-child(5){
    grid-row: 2/4;
    grid-column: 3/4;

}

.grid:nth-child(10){
    grid-column: 1/3;

}

.grid-section .overly{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -53px;
    background-image: linear-gradient(to bottom, transparent, black);
    padding: 29px 15px 10px;
    transition: .5s;
}

.grid:hover .overly{
    bottom: 0px;
    transition: .5s;

}

.grid:hover .grid-img{
    transform: scale(1.3);
    transition: .5s;
}

.grid-section .overly h3{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 400;
}


.btn{
    padding: 10px 15px;
    color: #ddd;
    text-decoration: none;
    font-size: 15px;
}



















































